<% @the_web_page_title = "Edit category: #{@category.name}" %>
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="subject edit">
  <h2>Edit Category</h2>

<%= "You are editing the category number : #{@category_id}"%>

  <%= form_for(:category, :url => {:action => 'update', :id => @category.id}) do |f| %>
  
  <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Category") %>
    </div>
    
  <% end %>
</div>